.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .nav-fixed {
      height: 100%; } }

.nav-index {
  z-index: -1; }

.buttonset {
  height: 11px;
  padding: 15px 10px 35px;
  background: transparent;
  float: right;
  margin-right: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.6s linear;
  z-index: 99999; }
  .buttonset .active {
    right: 277px; }

.js-buttonset {
  top: 20%;
  transition: all 0.6s linear; }
  @media only screen and (max-width: 767px) {
    .js-buttonset {
      top: 0; } }

#nav_list {
  background: url(assets/img/menu_color.png) no-repeat center top;
  cursor: pointer;
  height: 27px;
  width: 38px;
  text-indent: -99999em;
  float: right;
  background-size: 32px;
  background-color: #fff;
  height: 39px;
  border-radius: 8px;
  background-position: center; }

.nav-menu {
  width: 100%;
  height: 150px;
  background: #00a3df;
  margin-top: -150px;
  text-align: center;
  transition: all 0.6s linear; }
  @media only screen and (max-width: 767px) {
    .nav-menu {
      height: 100%;
      margin-top: -100vh;
      opacity: 0; } }
  .nav-menu img {
    max-width: 15%;
    float: left;
    padding-top: 20px;
    padding-left: 35px; }
    @media only screen and (min-width: 300px) and (max-width: 767px) {
      .nav-menu img {
        max-width: 50%;
        float: none;
        padding-top: 80px;
        padding-lefft: 0; } }
  .nav-menu ul {
    list-style: none; }
    @media only screen and (max-width: 767px) {
      .nav-menu ul {
        list-style: none;
        width: 70%;
        display: block;
        margin: 0 auto;
        padding: 30% 0; } }
  @media only screen and (max-width: 767px) and (min-width: 300px) and (max-width: 630px) {
    .nav-menu ul {
      padding: 10% 0; } }
  @media only screen and (max-width: 767px) and (min-width: 630px) and (max-width: 767px) {
    .nav-menu ul {
      padding: 4% 0; } }
    .nav-menu ul li {
      display: inline-block;
      margin: 10px;
      padding-top: 4%;
      font-size: 24px;
      font-family: "ff-cocon-web-pro", sans-serif; }
      @media only screen and (max-width: 767px) {
        .nav-menu ul li {
          display: block; } }
      .nav-menu ul li a {
        color: #fff;
        text-decoration: none; }

.js-nav-menu {
  margin-top: 0;
  transition: all 0.6s linear;
  opacity: 1;
  z-index: 1; }

.social-header--container {
  position: fixed;
  top: 0;
  z-index: 1040;
  padding: 20px 0; }
  .social-header--container ul {
    list-style: none; }
    .social-header--container ul li {
      display: inline-block;
      margin: 5px; }
      .social-header--container ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 20px; }

.single-post, .page-template-page-news-php {
  background: #ef7b37; }

.news-container {
  color: #fff; }
  .news-container article {
    max-width: 90%;
    display: block;
    margin: 20% 0 auto; }
  .news-container img {
    max-width: 100%;
    display: block;
    margin: 10% auto; }

.news-archive-title {
  margin-top: 10%; }
  .news-archive-title h1 {
    color: #fff;
    font-family: "ff-cocon-web-pro"; }

.news-archive {
  color: #fff; }
  .news-archive h2 {
    margin: 40px 0;
    float: left; }
  .news-archive p {
    margin-bottom: 40px;
    float: left; }
  .news-archive .cloud-btn {
    float: left;
    margin: 0; }

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .news-archive-img {
    display: none; } }

.news-archive-img img {
  padding: 20px;
  max-width: 80%; }

#section-one {
  background: #f0c30f;
  /* Old Browsers */
  background: -webkit-linear-gradient(top, #f0c30f, #f38848);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(top, #f0c30f, #f38848);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(top, #f0c30f, #f38848);
  /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #f0c30f, #f38848);
  /*Standard*/ }
  #section-one .feature-container {
    max-width: 50vw;
    display: block;
    margin: 0 auto; }
    #section-one .feature-container img {
      width: 100%;
      height: auto;
      margin-top: 10vh; }
      @media only screen and (min-width: 300px) and (max-width: 767px) {
        #section-one .feature-container img {
          margin-top: 18vh; } }
    @media only screen and (min-width: 300px) and (max-width: 767px) {
      #section-one .feature-container {
        max-width: 80%; } }
  #section-one .typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  #section-one .text-center {
    text-align: center;
    color: #fff; }
    @media only screen and (min-width: 300px) and (max-width: 450px) {
      #section-one .text-center {
        font-size: 2em; } }
  #section-one .flags-container {
    display: none;
    padding: 30px 0;
    text-align: center; }
    #section-one .flags-container ul {
      list-style: none; }
      #section-one .flags-container ul li {
        display: inline-block;
        margin: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        overflow: hidden; }
        #section-one .flags-container ul li img {
          width: 100px;
          position: absolute;
          left: -14px; }
        #section-one .flags-container ul li .spain {
          top: -13px; }

#section-two {
  background: #00a3df;
  overflow: hidden; }
  #section-two .video_container {
    width: 100%;
    height: 100%;
    float: left;
    position: relative; }
    #section-two .video_container img {
      display: block;
      margin: 0 auto;
      max-width: 85%; }
      @media only screen and (max-width: 992px) {
        #section-two .video_container img {
          padding: 10%; } }
    #section-two .video_container iframe {
      position: absolute;
      top: 33%;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 0;
      max-width: 85%;
      height: 52%; }
    #section-two .video_container p {
      display: none; }

.content-container {
  width: 100%;
  height: 100%;
  float: right;
  position: relative; }
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .content-container {
      margin-top: 10%; } }
  .content-container .content h1 {
    text-transform: uppercase;
    color: #fff; }
  .content-container .content h2 {
    color: #e7302a; }
  .content-container .content p {
    color: #fff; }

#section-three {
  background: #ffd105; }
  #section-three .image-top {
    position: absolute;
    top: -33.7%;
    left: 10%;
    opacity: 0;
    -webkit-transition-duration: .5s;
    /* Safari */
    transition-duration: .5s; }
    #section-three .image-top img {
      width: 75%; }
  #section-three .image-bottom {
    position: absolute;
    bottom: -33%;
    right: 30%;
    opacity: 0; }
  #section-three .js-animate--top {
    top: 0;
    opacity: 1;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 1s;
    -webkit-transition-duration: .5s;
    /* Safari */
    transition-duration: .5s;
    z-index: 1000; }
  #section-three .js-animate--bottom {
    bottom: 0;
    opacity: 1;
    -webkit-transition-delay: 1s;
    /* Safari */
    transition-delay: 1.5s;
    -webkit-transition-duration: .5s;
    /* Safari */
    transition-duration: .5s; }
  #section-three .shuffle-btn {
    height: 100px;
    position: relative; }
  #section-three .btn-group-randomize {
    position: absolute;
    top: -67px;
    left: 38px; }
  #section-three #mobile-brands {
    height: auto;
    padding: 15px; }
    #section-three #mobile-brands img {
      margin-top: 10px; }
    @media only screen and (min-width: 767px) {
      #section-three #mobile-brands {
        display: none; } }
  #section-three #randomize {
    height: 390px;
    width: 100%;
    margin-top: 10%;
    background: #f89e39;
    position: relative;
    border: 15px solid #ef7b37;
    border-radius: 50px;
    -webkit-box-shadow: 0px 36px 48px -2px #bb4f28;
    -moz-box-shadow: 0px 36px 48px -2px #bb4f28;
    box-shadow: 0px 36px 48px -2px #bb4f28; }
    @media only screen and (min-width: 300px) and (max-width: 767px) {
      #section-three #randomize {
        display: none; } }
  #section-three .randomizeMachine {
    width: 120px;
    height: 120px;
    display: block;
    margin: 50% auto; }
    #section-three .randomizeMachine img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
      border-radius: 25px; }
  #section-three .btn-group-randomize {
    margin: 0 auto;
    margin-top: 30px;
    width: auto; }
  #section-three .btn-group-randomize div {
    width: auto !important; }
  #section-three .ranomizeButton {
    border: 0;
    outline: 0;
    background-color: #CC3333;
    color: #fff;
    height: 50px;
    width: 150px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 15px 0 #663333, 0 10px 30px #808080;
    transition: 200ms;
    font-family: "ff-cocon-web-pro", sans-serif;
    font-size: 20px; }
    #section-three .ranomizeButton:active {
      transform: translateY(10px);
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      box-shadow: 0 5px 0 #663333, 0 5px 5px #000; }
  #section-three .randomizeMachine {
    width: 100%;
    height: 27vh;
    display: block;
    margin: 50% auto;
    border-radius: 30%; }
  #section-three .content-container {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    margin-top: 10%; }
    #section-three .content-container .content {
      color: #fff; }

.modal-backdrop {
  background-color: #fed100; }

.modal-backdrop.in {
  opacity: 0.9; }

.modal-body {
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.modal-header {
  min-height: 0;
  padding: 0 15px; }

.teamSlider-mobile {
  color: #fff;
  max-width: 85%;
  height: 40vh;
  margin: 0 auto; }
  @media only screen and (min-width: 840px) {
    .teamSlider-mobile {
      display: none !important; } }
  .teamSlider-mobile .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 60px; }
  .teamSlider-mobile .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 60px; }
  .teamSlider-mobile .svg-img {
    width: 10vh;
    height: auto; }

.teamSlider {
  color: #fff;
  max-width: 85%;
  max-height: 70%;
  margin: 0 auto;
  display: none; }
  @media only screen and (max-width: 840px) {
    .teamSlider {
      display: none !important; } }
  .teamSlider .col-xs-offset-1 {
    margin-left: 4.333333%; }
  .teamSlider .fa-angle-left {
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 60px; }
  .teamSlider .fa-angle-right {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 60px; }

.teamModal .modal-backdrop {
  background-color: #00a3df;
  max-height: 106vh; }

.teamModal .close {
  position: fixed;
  top: -14%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #fff;
  border-radius: none;
  opacity: 1; }

.svg-img {
  height: 300px; }

.svg-hover {
  filter: drop-shadow(0 10px 10px rgba(254, 254, 254, 0.9)); }

.slick-slide img {
  margin: 0 auto; }

.lower {
  margin-top: 60px !important; }

.team-content {
  color: #fff;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: 0%;
  /* transform: translateX(-50%); */
  width: 100%;
  padding: 0 150px; }
  .team-content h1 {
    text-align: center; }
  @media only screen and (max-width: 840px) {
    .team-content {
      display: none; } }

.js-team-content {
  opacity: 1;
  transition: all 0.5s ease-in-out; }

.slider-nav h1,
.slider-nav h2,
.slider-nav p {
  color: #fff;
  text-align: center; }

@media only screen and (min-width: 840px) {
  .slider-nav {
    display: none; } }

.slider-nav .teamContent-mobile h1 {
  font-size: 22px; }

.slider-nav .teamContent-mobile h2 {
  font-size: 18px; }

.slider-nav .teamContent-mobile p {
  font-size: 13px; }

.slider-nav .slick-slide {
  height: 40vh; }

#brandsModal .close {
  position: fixed;
  top: -14%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #fff;
  border-radius: none;
  opacity: 1; }

#brandsModal .brand-container {
  position: relative;
  width: 100%;
  height: 30vh; }
  #brandsModal .brand-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  #brandsModal .brand-container .second-img,
  #brandsModal .brand-container .fourth-img,
  #brandsModal .brand-container .sixth-img,
  #brandsModal .brand-container .eigth-img,
  #brandsModal .brand-container .tenth-img,
  #brandsModal .brand-container .twelfth-img,
  #brandsModal .brand-container .fourteenth-img,
  #brandsModal .brand-container .sixteenth-img,
  #brandsModal .brand-container .eighteenth-img,
  #brandsModal .brand-container .twentieth-img,
  #brandsModal .brand-container .twentySecond-img,
  #brandsModal .brand-container .twentyFourth-img {
    display: none; }
  #brandsModal .brand-container .second-img {
    max-width: 70%; }
  #brandsModal .brand-container .fourth-img {
    max-width: 80%;
    margin: 20px auto; }
  #brandsModal .brand-container .sixth-img {
    max-width: 80%;
    margin: 10px auto; }

img {
  width: 100%;
  height: auto; }

.modal-dialog {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -47%) !important;
  width: 90%;
  margin: 30px auto;
  height: 80vh; }
  .modal-dialog .modal-content {
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none; }
    .modal-dialog .modal-content .modal-header {
      border-bottom: none; }
    .modal-dialog .modal-content .modal-footer {
      border-top: none; }

#brandSlider {
  color: #fff; }
  #brandSlider .modal-dialog {
    height: auto; }
    #brandSlider .modal-dialog .modal-body img {
      width: 100%;
      height: auto;
      display: block;
      margin: 0 auto; }
    #brandSlider .modal-dialog .modal-body .carousel-container {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto; }
  #brandSlider .close {
    position: fixed;
    color: #fff;
    opacity: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    top: -20%;
    z-index: 1042; }
  #brandSlider .carousel-container .carousel-content--left {
    position: relative;
    height: 400px;
    width: 100%; }
    #brandSlider .carousel-container .carousel-content--left iframe {
      position: absolute;
      width: 100%;
      height: 300px;
      top: 30%; }
  #brandSlider .carousel-container .carousel-content--right {
    padding: 30px; }
  #brandSlider .carousel-control.right {
    right: -10%;
    background-image: -webkit-linear-gradient(left, transparent 0, transparent 100%);
    /* background-repeat: repeat-x; */ }
  #brandSlider .carousel-control.left {
    left: -10%;
    background-image: -webkit-linear-gradient(left, transparent 0, transparent 100%);
    /* background-repeat: repeat-x; */ }
  #brandSlider .carousel-control {
    max-height: 40%;
    top: 23%; }

.contactModal .modal-backdrop {
  background-color: #de014b; }

.contactModal .close {
  position: fixed;
  color: #fff;
  opacity: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  top: -15%; }

.contactModal .content-container {
  width: 100%;
  height: 100%;
  float: right;
  position: relative;
  padding-top: 2%; }
  .contactModal .content-container .content h1 {
    text-transform: uppercase;
    color: #fff; }
  .contactModal .content-container .content h2 {
    color: #e7302a; }
  .contactModal .content-container .content p {
    color: #fff; }

.form-container {
  position: relative;
  /* bottom: 0%; */
  /* left: 12%; */
  /* width: 50%; */
  z-index: 1000;
  height: auto;
  margin-left: -3%; }
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    .form-container {
      width: 121vw; } }
  .form-container #cloud-one {
    position: absolute;
    position: absolute;
    bottom: 0%;
    left: -10%;
    width: 39%;
    z-index: -100; }
  .form-container #cloud-two {
    position: absolute;
    bottom: -5%;
    left: 69%;
    width: 15%;
    z-index: -100; }
  .form-container #cloud-three {
    position: absolute;
    top: -20%;
    left: 28%;
    width: 30%;
    z-index: -100; }
  .form-container #cloud-four {
    position: absolute;
    top: 20%;
    left: -12%;
    width: 10%;
    z-index: -100; }
  .form-container #star-one {
    position: absolute;
    bottom: -10%;
    left: 45%;
    width: 5%; }
  .form-container #star-two {
    position: absolute;
    top: -12%;
    right: 30%;
    width: 4%; }
  .form-container #star-three {
    position: absolute;
    top: -25%;
    left: 53%;
    width: 3%; }
  .form-container #star-four {
    position: absolute;
    top: -15%;
    left: 12%;
    width: 5%; }
  .form-container #star-five {
    position: absolute;
    top: -27%;
    left: 30%;
    width: 3%; }
  .form-container #star-six {
    position: absolute;
    top: 6%;
    left: -7%;
    width: 4%; }
  .form-container form {
    position: absolute;
    top: 25%;
    left: 25%; }
    .form-container form .form-content {
      width: 300px;
      margin: 0 auto;
      display: block; }
      @media only screen and (min-width: 415px) and (max-width: 500px) {
        .form-container form .form-content {
          width: 240px; } }
      @media only screen and (min-width: 300px) and (max-width: 415px) {
        .form-container form .form-content {
          width: 230px;
          margin-left: -19%; } }
    .form-container form input {
      width: 100%;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 25px;
      border: none;
      background-color: rgba(255, 0, 0, 0.3); }
    .form-container form input[type="submit"] {
      position: absolute;
      max-width: 20%;
      right: 5%;
      top: 110%;
      color: #fff;
      background: none;
      font-family: "ff-cocon-web-pro";
      font-size: 15px; }
    .form-container form img {
      max-width: 30%;
      position: absolute;
      right: 0;
      top: 100%; }
    .form-container form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 5px;
      border-radius: 10px;
      border: none;
      background-color: rgba(255, 0, 0, 0.3); }
    .form-container form ::-webkit-input-placeholder {
      /* Chrome */
      color: #de014b;
      font-size: 15px;
      font-family: "ff-cocon-web-pro";
      padding: 3px; }
    .form-container form :-ms-input-placeholder {
      /* IE 10+ */
      color: #de014b;
      font-size: 15px;
      font-family: "ff-cocon-web-pro";
      padding: 3px; }
    .form-container form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #de014b;
      font-size: 15px;
      font-family: "ff-cocon-web-pro";
      padding: 3px; }
    .form-container form :-moz-placeholder {
      /* Firefox 4 - 18 */
      color: #de014b;
      font-size: 15px;
      font-family: "ff-cocon-web-pro";
      padding: 3px; }

#section-four {
  background: #f47f41; }
  #section-four img {
    max-width: 70% !important;
    display: block;
    margin: 0 auto; }
    @media only screen and (max-width: 992px) {
      #section-four img {
        padding: 10%; } }
  #section-four .content-container {
    width: 100%;
    height: 100%;
    float: right;
    position: relative; }
    #section-four .content-container .content h1 {
      text-transform: uppercase;
      color: #fff; }
    #section-four .content-container .content h2 {
      color: #e7302a; }
    #section-four .content-container .content p {
      color: #fff; }
  #section-four .cloud-btn {
    margin-right: 40px; }

#section-five {
  background: #e51355; }
  #section-five .map-container {
    width: 100%;
    height: 60vh;
    position: relative; }
    @media only screen and (max-width: 992px) {
      #section-five .map-container {
        margin-top: 20%; } }
    #section-five .map-container .map {
      width: 100%;
      height: 80%; }
    #section-five .map-container #cloud-one {
      position: absolute;
      position: absolute;
      bottom: 0%;
      left: -10%;
      width: 39%; }
    #section-five .map-container #cloud-two {
      position: absolute;
      bottom: 3%;
      left: 69%;
      width: 15%; }
    #section-five .map-container #cloud-three {
      position: absolute;
      top: -20%;
      left: 28%;
      width: 30%; }
    #section-five .map-container #cloud-four {
      position: absolute;
      top: 20%;
      left: -12%;
      width: 10%; }
    #section-five .map-container #star-one {
      position: absolute;
      bottom: -4%;
      left: 45%;
      width: 5%; }
    #section-five .map-container #star-two {
      position: absolute;
      top: -12%;
      right: 30%;
      width: 4%; }
    #section-five .map-container #star-three {
      position: absolute;
      top: -25%;
      left: 53%;
      width: 3%; }
    #section-five .map-container #star-four {
      position: absolute;
      top: -15%;
      left: 12%;
      width: 5%; }
    #section-five .map-container #star-five {
      position: absolute;
      top: -27%;
      left: 30%;
      width: 3%; }
    #section-five .map-container #star-six {
      position: absolute;
      top: 6%;
      left: -7%;
      width: 4%; }
    #section-five .map-container #aeroplane {
      position: absolute;
      bottom: 0%;
      left: 12%;
      width: 50%;
      z-index: 1000; }
  #section-five .content-container {
    width: 100%;
    height: 100%;
    float: right;
    position: relative; }
    #section-five .content-container .content h1 {
      text-transform: uppercase;
      color: #fff; }
    #section-five .content-container .content h2 {
      color: #e7302a; }
    #section-five .content-container .content p {
      color: #fff; }

.error404 {
  width: 100%;
  height: 100%;
  background: #ef7b37; }

.error-img {
  max-width: 80%;
  margin: 10% auto;
  display: block; }

.error-title {
  text-align: center;
  color: #fff; }
  .error-title span {
    text-transform: uppercase;
    color: #00a3df;
    font-size: 50px; }

.fp-auto-height {
  height: 230px !important;
  width: 100%; }

#footer {
  height: 230px !important; }
  @media only screen and (max-width: 992px) {
    #footer .fp-tableCell {
      height: 230px !important; } }

.footer-container {
  width: 100%;
  padding: 20px; }
  .footer-container p {
    color: #fff;
    font-size: 12px; }
  .footer-container span {
    text-transform: uppercase; }

.footer-container--one {
  background: #00a3df; }
  .footer-container--one .social-icons ul {
    list-style: none;
    text-align: center; }
    .footer-container--one .social-icons ul li {
      display: inline-block;
      background-color: #fff;
      border-radius: 50%; }
      .footer-container--one .social-icons ul li:last-child {
        border-radius: 0;
        background-color: transparent;
        margin-bottom: -10px; }
      .footer-container--one .social-icons ul li a {
        color: #000;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        height: 40px;
        width: 40px; }
        .footer-container--one .social-icons ul li a, .footer-container--one .social-icons ul li a:hover, .footer-container--one .social-icons ul li a:active {
          text-decoration: none; }
          .footer-container--one .social-icons ul li a .fa, .footer-container--one .social-icons ul li a:hover .fa, .footer-container--one .social-icons ul li a:active .fa {
            font-size: 26px;
            color: #00a3df; }
  .footer-container--one .social-icons h1 {
    color: #fff;
    float: right;
    text-transform: lowercase; }

.footer-container--two {
  background: #fed100; }

.footer-container--three {
  background: #ef7b37; }

.footer-container--four {
  background: #de014b; }

.page-template-page-policy-php {
  background: #ef7b37; }

.policy-container {
  margin-top: 10%;
  color: #fff; }
  .policy-container p {
    line-height: 24px; }

h1,
h2,
span,
p {
  font-family: "ff-cocon-web-pro"; }

h1 {
  text-transform: uppercase; }

h2 {
  font-size: 27px; }

p {
  font-size: 16px; }

a {
  color: #de014b;
  text-decoration: none; }
  a:hover {
    color: #de014b;
    text-decoration: none; }

button {
  padding: 12px 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-family: "ff-cocon-web-pro";
  font-size: 14px;
  background-color: #fff;
  color: #de014b;
  margin: 40px 0; }
  button p {
    color: #de014b !important;
    margin: 0; }

.section {
  position: relative; }

@media only screen and (max-width: 992px) {
  #section-two,
  #section-three,
  #section-four,
  #section-five {
    height: 160vh !important; } }

.section-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  @media only screen and (max-width: 992px) {
    .section-container {
      position: relative;
      left: 0;
      top: 0;
      transform: translate(0, 0); } }

.splatter {
  position: absolute; }

#splatter-one {
  top: 19%;
  right: 20%;
  width: 7%;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.shop-btn {
  /* position: absolute; */
  /* bottom: 8%; */
  /* right: 10%; */
  width: 22%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  position: relative;
  float: right;
  margin-top: 40%;
  height: 100px; }
  .shop-btn button {
    position: absolute;
    top: 8%;
    left: 11%;
    z-index: 1000;
    background: transparent;
    color: #fff; }

#splatter-two {
  top: 45%;
  left: 10%;
  width: 22%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

#splatter-three {
  /* bottom: 13%; */
  /* right: 5%; */
  width: 100%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  z-index: 1;
  /* top: 5%; */
  /* left: -3%; */ }

.js-animate--splatter {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn; }

body {
  background: #fff;
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.bubble-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px; }
  100% {
    margin-top: -100%; } }

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px; }
  100% {
    margin-top: -100%; } }

@keyframes animateBubble {
  0% {
    margin-top: 1000px; }
  100% {
    margin-top: -100%; } }

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 50px; } }

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 50px; } }

@keyframes sideWays {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 50px; } }

/* ANIMATIONS */
.x1 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6); }

.x2 {
  -webkit-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 10s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4); }

.x3 {
  -webkit-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1); }

.x4 {
  -webkit-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 12s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3); }

.x5 {
  -webkit-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 19s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4); }

.x6 {
  -webkit-animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 11s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  transform: scale(0.2); }

.x7 {
  -webkit-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4); }

.x8 {
  -webkit-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 17s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3); }

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6); }

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3); }

/* OBJECTS */
.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px white;
  height: 200px;
  position: absolute;
  width: 200px; }

.bubble:after {
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
  /* W3C */
  /* IE6-9 fallback on horizontal gradient */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px; }
