.single-post, .page-template-page-news-php {
    background: $orange;
}

.news-container {
    color: #fff;
    article {
        max-width: 90%;
        display: block;
        margin: 20% 0 auto;
    }
    // a {
    //     font-family: "ff-cocon-web-pro";
    //     font-size: 36px;
    //     color: #fff;
    // }
    img {
        max-width: 100%;
        display: block;
        margin: 10% auto;
    }

}

.news-archive-title {
    margin-top:10%;
    h1 {
        color: #fff;
        font-family: "ff-cocon-web-pro";
    }
}
.news-archive {
    color: #fff;
    h2 {
        margin: 40px 0;
        float: left;
    }
    p {
        margin-bottom: 40px;
        float:left;
    }
    .cloud-btn {
        float: left;
        margin: 0;
    }
   
}

.news-archive-img {
    img{
        padding: 60px;
        margin-top: 10%;
       
    }
     @media only screen and (max-width: 893px) {
            display: none;
        }
}