#section-three {

    .section-container {
        top: 43%;
    }

    button {
        color: #ffffff !important;
        background: #6cbfe8;
        padding: 18px 38px;
        font-size: 16px;
    }

    #js-seeBrands {
        color: #ffffff !important;
    }

    background: #ffd105;
    .image-top {
        // margin-top: 14%;
        // margin-left: 10%;
        // max-width: 80%;
        position: absolute;
        // top: 13.7%;
        top: -33.7%;
        left: 10%;
        opacity: 0;
        // -webkit-transition-delay: 1s;
        // /* Safari */
        // transition-delay: 1s;
        -webkit-transition-duration: .5s;
        /* Safari */
        transition-duration: .5s;
        img {
            width: 75%;
        }
    }
    .image-bottom {
        position: absolute;
        bottom: -33%;
        right: 30%;
        opacity: 0;
    }

    .image-sign {
        position: absolute;
        bottom: -14%;
        right: 4%;
        transform: rotate(5deg);
        /* opacity: 0; */
    }

    .js-animate--top {
        top: 0;
        opacity: 1;
        -webkit-transition-delay: 1s;
        /* Safari */
        transition-delay: 1s;
        -webkit-transition-duration: .5s;
        /* Safari */
        transition-duration: .5s;
        z-index: 1000;
    }
    .js-animate--bottom {
        bottom: 0;
        opacity: 1;
        -webkit-transition-delay: 1s;
        /* Safari */
        transition-delay: 1.5s;
        -webkit-transition-duration: .5s;
        /* Safari */
        transition-duration: .5s;
    }
    .shuffle-btn {
        // margin-top: -10%;
        height: 100px;
        position: relative;
        padding: 0 5px 23px 0;
        transform: scale(0.9);
        position: relative;
    }
    .btn-group-randomize {
        position: absolute;
        top: -38px;
        right: 0;
        // left: 38px;
    }
    #mobile-brands {
        height: auto;
        padding: 15px;
        img {
            margin-top: 10px;
        }
        @media only screen and (min-width: 767px) {
            display: none;
        }
    }
    #randomize {
        height: 350px;
        width: 100%;
        margin-top: 10%;
        background: #f5b12a;
        position: relative;
        border: 15px solid $orange;
        border-radius: 50px;
        padding: 0 25px;

        -webkit-box-shadow: inset -1px 4px 26px 0px rgba(0, 0, 0, 0.55), 0px 16px 0px 0px rgb(193, 96, 39), -3px 31px 22px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset -1px 4px 26px 0px rgba(0, 0, 0, 0.55), 0px 16px 0px 0px rgb(193, 96, 39), -3px 31px 22px 0px rgba(0, 0, 0, 0.1);
        box-shadow: inset -1px 4px 26px 0px rgba(0, 0, 0, 0.55), 0px 16px 0px 0px rgb(193, 96, 39), -3px 31px 22px 0px rgba(0, 0, 0, 0.1);

        @media only screen and (min-width: 300px) and (max-width: 767px) {
            display: none;
        }
    }
    .randomizeMachine {
        width: 120px;
        height: 120px;
        display: block;
        margin: 50% auto;
        img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
    .btn-group-randomize {
        margin: 0 auto;
        margin-top: 30px;
        width: auto;
        top: 14px;
    }

    .btn-group-randomize div {
        width: auto !important;
    }

    .ranomizeButton {
        border: 0;
        outline: 0;
        background-color: #6cbfe8 !important;
        color: #fff;
        height: 50px;
        width: 150px;
        cursor: pointer;
        padding: 15px 22px;
        border-radius: 50%;
        box-shadow: 0 6px 0 3px #3288b3, 0 12px 0 7px #423a2c, 0 18px 6px 8px rgba(0, 0, 0, 0.2);
        transition: 200ms;
        font-family: "ff-cocon-web-pro", sans-serif;
        font-size: 20px;
        &:active {
            transform: translateY(10px);
            -webkit-transform: translateY(10px);
            -moz-transform: translateY(10px);
            box-shadow: 0 5px 0 #663333, 0 5px 5px #000;
        }
    }

    .btn-danger {
        background: none;
    }

    .randomizeMachine {
        width: 100%;
        height: 300px;
        display: block;
        max-height: 280px;
        // margin: 50% auto;
        margin: 20px 0;

        img {
            padding: 10px 0;
        }
        // border-radius: 30%;

        .slotMachineContainer {
            top: -32px;
            position: relative;
        }
    }

    .content-container {
        width: 100%;
        height: 100%;
        float: right;
        position: relative;
        margin-top: 10%;
        .content {
            // position: absolute;
            // left: 15%;
            // top: 50%;
            // transform: translate(-15%, -50%);
            // max-width: 85%;
            // padding-right: 80px;
            color: #fff;
        }
    }

    .btn-slot-small .ranomizeButton {
        padding: 10px 30px;
    }

    .btn-slot-medium .ranomizeButton {
        padding: 10px 25px;
    }

    button {
        color: $yellow !important;
    }

    #shop-link {
        margin-left: 20px;
    }
}

@media all and (max-width: 1199px) {
    #section-three {
        // #slot-col-1 {
        //     display: none;
        // }

        #slot-col-2,
        #slot-col-3,
        #slot-col-4 {
            width: 33.333%
        }

        // .btn-group-randomize {
        //     left: 18px;
        // }

        .content-container {
            padding-left: 50px;
        }

        .btn-slot-small {
            .ranomizeButton {
                transform: scale(0.9);
                -webkit-transform: scale(0.9);
            }
        }

        .ranomizeButton {
            transform: scale(0.9);
            -webkit-transform: scale(0.9);
        }
    }
}

@media all and (max-width: 992px) {
    #section-three {
         #slot-col-1 {
                display: inline-block;
            }

            // #slot-col-2,
            // #slot-col-3,
            // #slot-col-4 {
            //     width: 25%
            // }

        .randomizeMachine {
            max-height: 350px;
            margin: 40px 0;
            height: 420px;
        }

        .slotMachineContainer {
            top: -65px;
        }

        // .btn-group-randomize {
        //     left: 38px;
        // }

        #randomize {
            padding: 0 50px;
            height: 450px;
        }

        .btn-group-randomize {
            top: 30px;
        }

        .content-container {
            padding: 0;
            max-width: none;
          margin: 130px 0 50px;
            text-align: center;
        }

        .btn-group-randomize {
            right: 40px;
            top: 25px;
        }
    }
}

@media all and (max-width: 767px) {
  #section-three {
    .content-container {
      margin: 120px 0;
    }

    .container {
        padding: 70px;
    }
  }
}


@media all and (max-width: 680px) {
    #section-three {
        .image-top {
            img {
                width: 63%;
            }
        }

        .image-bottom  {
            max-width: 86%;
            right: 0%;
        }
    }
}
